name: Generate Sitemap

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 0 * * *'  # update tiap hari jam 00:00 UTC

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Generate sitemap
        run: node sitemap-generator.js

      - name: Commit & push sitemap
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add sitemap.xml
          git commit -m "Update sitemap.xml [CI]"
          git push
        continue-on-error: true
